<!DOCTYPE html>
<html lang="it">

	<head>
		<%- include(appBasePath + 'views/parts/m-head.ejs'); %>
        <link href="/css/argi-logon.css" rel="stylesheet">
	</head>
    <body>
		<div class="container-fluid">
			<div class="row pl-3 pr-3 row justify-content-center">
				<div class="col-xl-3 col-lg-6 col-md-6 col-sm-8 col-xs-12 align-self-center">
					<div class="col text-argi-btn text-center bg-argi-gre mt-1 p-2 border border-success rounded"><%= LANG.str00000040 %></div> 
					<% if (ERROR != 0) { %> 
					<div class="row mt-3 pl-3 pr-3 row justify-content-center">
						<div class="col alert-danger align-self-center border border-danger">
							<%= MESSAGE %>
						</div>
					</div>
					<% } else { %>
					<div class="row mt-3 pl-3 pr-3 row justify-content-center">
						<div class="col alert-warning align-self-center border border-warning rounded">
							<p><%= LANG.str00000044 %></p>
							<p><%= LANG.str00000045 %></p>
							<p><%= LANG.str00000046 %></p>
							<p><%= LANG.str00000047 %></p>
							<p><%= LANG.str00000048 %></p>
						</div>
					</div>
					<% } %>
					<div class="row mt-3 pl-3 pr-3 row justify-content-center">
						<div class="col mt-2 align-self-center">
							<a href="/" class="btn btn-block btn-primary"><%= LANG.str00000022 %></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<%- include(appBasePath + 'views/parts/m-libs'); %>
	<script type="text/javascript" src="/js/aRGi_m_joinresult.js"></script>
</html>

