<!DOCTYPE html>
<html lang="it">

	<head>
		<%- include(appBasePath + 'views/parts/m-head.ejs'); %>
        <link href="/css/argi-logon.css" rel="stylesheet">
	</head>
    <body>
		<div class="container-fluid">
			<div class="row pl-3 pr-3 row justify-content-center">
				<div class="col-xl-3 col-lg-6 col-md-6 col-sm-8 col-xs-12 align-self-center">
					<div class="col text-argi-btn text-center bg-argi-gre mt-2 pb-2 pt-2 border border-success rounded"><%= LANG.str00000153 %></div> 
					<div id="resetForm" class="col text-argi-btn text-center mt-2 pb-2 pt-2 border border-success rounded bg-light">
					</div> 
					<div class="form-row mt-2 pb-2 pt-2 justify-content-center"> 
						<div class="form-group col">
							<button id="RESET" class="btn btn-block btn-warning"><%= LANG.str00000156 %></button>
						</div>
					</div> 
					<div class="col text-argi-btn text-left bg-warning border border-success rounded">
						<p><%= LANG.str00000154 %></p>
						<p><%= LANG.str00000155 %></p>
					</div> 
					<div class="form-row mt-2 pb-2 pt-2 justify-content-center"> 
						<div class="form-group col">
							<button id="OUTBACK" class="btn btn-block btn-primary"><%= LANG.str00000022 %></button>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</body>
	<%- include(appBasePath + 'views/parts/m-libs'); %>
	<script type="text/javascript" src="/js/aRGi_m_reset.js"></script>
</html>
