<%- include(appBasePath + 'views/parts/mail_header'); %>

<div style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial">
  <h3><%= pageData.LANG.str00000120 %> <%= pageData.contact.nome %> <%= pageData.contact.cognome %></h3>
  <p><%= pageData.LANG.str00000158 %></p> <%= pageData.contact.email %>
  <p><%= pageData.LANG.str00000159 %></p>
  <p><%= pageData.LANG.str00000139 %> <a href="<%= pageData.server.protocol %>://<%= pageData.server.host %>/secretreset?who=<%= pageData.contact.uuid %>"><%= pageData.LANG.str00000140 %></a> <%= pageData.LANG.str00000141 %></p>
  <p><%= pageData.LANG.str00000160 %></p>
  <p><%= pageData.LANG.str00000161 %></p>
  <p><%= pageData.LANG.str00000162 %> <a href="mailto:consumometro@argi.mooo.com">consumometro@argi.mooo.com</a></p>
  <div style="margin-top : 20px">
    <a style="background: #4b2179; color: #e2d4f0 !important; padding: 10px 10px; border: 2px solid #e2d4f0" href="<%= pageData.server.protocol %>://<%= pageData.server.host %>/secretreset?who=<%= pageData.contact.uuid %>">
	  <span style="color: #e2d4f0 !important;">
	    <%= pageData.LANG.str00000163 %>
	  </span>
	</a>
  </div>
</div>

<%- include(appBasePath + 'views/parts/mail_footer'); %>
