<!DOCTYPE html>
<html lang="it">

	<head>
		<%- include(appBasePath + 'views/parts/head.ejs'); %>
	</head>
    <body>
	<%if (DATA.data.role != 0) { %>
		<div class="container-fluid">
			<%- include(appBasePath + 'views/parts/header.ejs'); %>
				<div class="row pt-4 argi_content">
					<div class="col-4 offset-4 alert alert-danger">
						<strong><%= LANG.str00000215 %>:</strong> <%= LANG.str00000221 %>
					</div>
				</div>
			<%- include(appBasePath + 'views/parts/footer'); %>
		</div>
	</body>
	<%- include(appBasePath + 'views/parts/libs'); %>
	<% } else { %>
		<div class="container-fluid">
			<%- include(appBasePath + 'views/parts/header.ejs'); %>
			<div class="row pt-4 argi_content">
				<div class="col-4 d-none offset-4 alert alert-danger">
					<strong><%= LANG.str00000215 %>:</strong> <%= LANG.str00000221 %>
				</div>
			</div>
			<div class="row argi_content">
				<div class="col">
					<div class="row pl-3 pr-3 row justify-content-center">
						<div class="col-3 align-self-center">
							<form action="/app/secret" method="post">
								<input type="hidden" id="uid" name="uid" value="<%= DATA.data.uid %>"/>
								<input type="hidden" id="store" name="store" value="<%= DATA.data.store %>"/>
								<input type="hidden" id="formNome" name="formNome" value="<%= DATA.data.nome %>"/>
								<input type="hidden" id="formCognome" name="formCognome" value="<%= DATA.data.cognome %>"/>
								<input type="hidden" id="formEmail" name="formEmail" value="<%= DATA.data.email %>"/>
								<input type="hidden" id="formUserid" name="formUserid" value="<%= DATA.data.userid %>"/>
								<input type="hidden" id="formEnabled" name="formEnabled" value="<%= DATA.data.enabled %>"/>
								<div class="form-row">
									<div class="form-group col">
										<label for="formSecretOld"><%= LANG.str00000003 %></label>
										<input type="password" class="form-control" id="formSecret" name="formSecret">
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label for="formSecretOld"><%= LANG.str00000028 %></label>
										<input type="password" class="form-control" id="formSecretRepeat" name="formSecretRepeat">
									</div>
								</div>
								<div class="form-row">
									<div class="d-none alert-danger col" id="errInfo">
									</div>
								</div>
								<div class="d-flex justify-content-center mt-5 login_container">
									<button id="SECRET-RESET" data-action="RES" type="button" class="btn btn-block btn-success"><%= LANG.str00000196 %></button>
								</div>
							</form>
						</div>
					</div>
					<% if (MESSAGE != '') { %> 
					<div class="row mt-3 pl-3 pr-3 row justify-content-center">
						<div class="col-3 alert-danger align-self-center border border-danger">
							<%= MESSAGE %>
						</div>
					</div>
					<% }%>
				</div>
			</div>
			<%- include(appBasePath + 'views/parts/footer.ejs'); %>
		</div>
	</body>
	<%- include(appBasePath + 'views/parts/libs'); %>
	<script type="text/javascript" src="/js/aRGi_secret.js"></script>
	<% } %>
</html>



